<div class="row animated fadeIn">

  <div class="col-lg-5 col-md-12">
    <div class="card">
        <div class="card-body foto-perfil-edit">
            <h4 class="card-title">Fotografia del usuario</h4>

            <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150 mb-3">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150 mb-3">

            <br>

            <input class="mt-1" (change)="seleccionImagen( $event.target.files[0] )" type="file" >

            <br>

            <div class="row mt-3 ml-0">

              <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Actualizar Foto
              </button>

            </div>

        </div>
     </div>
  </div>

  <div class="col-lg-7 col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Perfil del usuario</h4>
            <h6 class="card-subtitle">Nombre</h6>

            <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">Nombre</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input [ngModel]="usuario.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input [ngModel]="usuario.email" [disabled]="usuario.google" type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
            </form>
        </div>
    </div>
  </div>



</div>
